:root{
    --brightGreen:#4E9F3D;
    --accentColor:#1E5128;
    --backgroundColor:#D8E9A8;
    --leftScreenBG:#191A19;
}
.welcomeGrandParent{
    display: flex;
    justify-content: start;
    position: absolute;
    left: 9vw;
    top: 2vw;
}
.welcomeAndProfile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--leftScreenBG);
    width: 61vw;
    padding: 0 1.5vw;
    border-radius: 2vw;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboardWord{
    color: var(--brightGreen);
    margin: 0 0.5vw;
}
